<!DOCTYPE html>

<html>

<head>
    <title> My Grocery Store</title>

</head>

<body>
<form action="/hello" method="get">
    <b>Name: </b>
    <input type="text" name="name">
    <input type="submit" value="say Hello">
</form>

<!--<div class="row">
    <div class="col-md-4 ">
        <img src="https://international.standardbank.com/standimg/PBBInternational/Common%20elements/Images/Internet%20banking.jpg"
             alt="" class="src">

    </div>
    <div class="col-md-4 ">


        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" autocomplete="off" ngNativeValidate>

            <h4 align="center" style="color: maroon">{{message}}</h4>
            <div class="form-group">
                <input #name="ngModel" class="form-control" type="number" name="txtcustid" ngModel placeholder="Login Id"
                       required />
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                    <div *ngIf="name.errors.required">
                        Login Id is required.
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input #pwd="ngModel" type="password" class="form-control" name="txtpwd" ngModel placeholder="Password"
                       required />

                <div *ngIf="pwd.invalid && (pwd.dirty || pwd.touched)" class="alert alert-danger">
                    <div *ngIf="pwd.errors.required">
                        Password is required.
                    </div>

                </div>
            </div>

            <div class="form-group">


                <input align="left" type="reset" style="width: 40%" class="btn btn-primary" />
                &nbsp;
                &nbsp;
                &nbsp;
                <input align="right" style="width: 40%; " class="btn btn-primary" type="submit" name="btnsubmit" value="Login"
                       align="center" />

            </div>
            <div class="form-group">
                <a style="color:red;" (click)="forgetpwd()"><b> Forget Password</b></a>
            </div>

        </form>

    </div>

</div>-->

</body>

</html>